body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a53636;
    overflow-x: hidden; /* إخفاء المساحة الفارغة إذا كان هناك */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    
}

main {
    padding: 20px;
}

h2 {
    font-size: 1.5em;
}

img {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* إضافة تحويلات Flexbox للتخطيط */
#buttons-section {
    display: flex;
    flex-wrap: wrap; /* تحديد لف العناصر إذا لم تتناسب مع العرض */
    justify-content: center; /* محاذاة العناصر في وسط الشاشة أفقيًا */
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center; /* وضع النص في الوسط */
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}



.button:hover {
    background-color: #45a049;
}

.button i {
   
    font-size: 60px; 
    
    margin-right: 5px;
    padding: 10px;
   align-items: center;
}
.button span {
    
    font-size: medium;
    margin-top: 5px; 
}


#welcome-section {
    color: #f8f7f7;
    text-align: center; 
    padding: 20px; 
    border-radius: 5px;
    background-color: #45a049;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#welcome-section h2 {
    font-size: 1.5em; 
    
}
#weather-ideas-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/* Styling for weather section */
#weather-section {
   flex: 1;
    display: inline-block;
    text-align: center; 
    padding: 20px; 
     border-radius: 5px;
    background-color: #d3ebd4;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#weather-section h2 {
    font-size: 1.5em;
}

#weather-section img {
    margin-top: 10px; 
}

/* Styling for ideas section */
#ideas-section {
    color: #f8f7f7;
    display: inline-block;
    flex-grow: 2; /* تحديد نسبة النمو */    
    padding: 10px; 
    background-color: #45a049;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#ideas-section h2 {
    
    font-size: 1.5em; 
}

#ideas-section ul {
    list-style-type: none; 
    padding-left: 0; 
}

#ideas-section li {
    margin-bottom: 10px; 
    
}
