body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a53636; 
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#goals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fafafa; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    padding: 10px;
    text-align: center;
}
